<!-- error.ejs -->
<h1>Error: Permission Denied</h1>
<p>Sorry, you do not have permission to access this guild.</p>
<%- if(message){ %>
<%= message %>
<%}%>
<!-- Add any additional error content here -->
